@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');
html,
body {
    color: var(--txt);
    background-color: var(--back);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    /*height: 100%;*/
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow-y: hidden;
    padding-left: calc(100vw - 100%);
}

@media (max-width: 370px) {
    html,
    body {
        font-size: 15px;
    }
}

h1 {
    font-weight: 900;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.1;
    font-size: 2.2rem;
    margin: 20px 0 5px;
}

b {
    display: block;
    font-weight: 800;
    font-size: 1.05rem;
    margin: .5em 0 .2em;
}

#twitter {
    margin: calc(20px + 0.5rem) 0 5px;
    text-align: right;
    font-size: 1.1rem;
    color: var(--light-txt);
    font-weight: 700;
}

@media (max-width: 767px) {
    #twitter {
        margin: 0;
        margin-bottom: .3em;
        text-align: left;
        font-size: 1.1rem;
        color: var(--light-txt);
        font-weight: 700;
    }
}

#faqbtn,
#colormode {
    margin-right: .5em;
}

.fa-moon {
    font-size: .93em;
}

#twitter a {
    color: var(--light-txt);
}

#twitter a:hover {
    text-decoration: none;
    color: var(--dark-txt);
}

/* #head p {
    font-size: 1.05em;
} */

p {
    font-size: 1em;
    margin-bottom: .5em;
}

.container {
    width: 100%;
    height: 100%;
}

@keyframes swipe {
    from {
        width: 100%;
        max-height: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        max-height: 15em;
        opacity: 100%;
    }
}

.choice {
    animation: swipe .2s;
}

.choice a {
    margin-right: .45em;
}

#pinned {
    min-height: calc(.8em + 60px);
    padding-right: .25em;
    animation: none;
    margin: 1em 0;
}

.box {
    /*display: flex;
align-items: center;*/
    line-height: 1.1;
    background-color: var(--box);
    margin-top: .4em;
    margin-bottom: .8em;
    padding: .6em;
    overflow: none;
    width: 100%;
    border-radius: .6em;
    text-align: left;
    -webkit-box-shadow: var(--full-shadow);
    box-shadow: var(--full-shadow);
    max-height: 50em;
    animation-name: swipe;
    animation-duration: .3s;
}

@keyframes hide {
    from {
        width: 100%;
        max-height: 30em;
        margin: 0 .8em;
        padding: .6em;
        -webkit-box-shadow: var(--full-shadow);
        box-shadow: var(--full-shadow);
        opacity: 100%;
    }
    to {
        width: 100%;
        max-height: 0;
        margin: 0 .8em;
        padding: .6em .6em 0 .6em;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 0%
    }
}


/* .rembox {
    display: none;
    height: 0;
    max-height: 0;
    display: flex;
    align-items: center;
    background-color: var(--box);
    margin-bottom: 0 1em;
    padding: .6em .6em 0 .6em;
    overflow: none;
    width: 100%;
    border-radius: .6em;
    text-align: left;
    animation-name: hide;
    animation-duration: .2s;
    opacity: 0%;
} */

#content img,
.box .logo {
    float: left;
    margin-right: .3rem;
    border-radius: 30%;
    -webkit-box-shadow: var(--half-shadow);
    box-shadow: var(--half-shadow);
}

.box a img {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#light-shadow,
#dark-shadow {
    width: 100%;
    position: absolute;
    bottom: -5px;
    z-index: 10;
}

@media (min-width: 768px) {
    #scroll,
    #scrollsmall {
        position: relative;
        overflow-y: scroll;
        overflow-x: none;
    }
    #scroll {
        height: 77vh;
        min-height: 39em;
    }
    #scrollsmall {
        height: 56vh;
        min-height: 28em;
    }
}

#stats .box {
    margin-bottom: .4em;
}

#firstnews {
    margin-bottom: 65px;
}

#news {
    height: 100%;
    padding: 0;
    position: relative;
}

#stats,
#scroll,
#scrollsmall {
    padding: 0 15px;
}

.app {
    display: inline;
    font-size: 0.9rem;
    margin: 1px 0 0 0;
    font-weight: 700;
}

.newstitle {
    display: block;
    margin-top: .4em;
    margin-bottom: 0;
}

#totop {
    font-family: 'Courier Prime', monospace;
    background-color: var(--dark-txt);
    color: var(--back);
    border-radius: 20%;
    padding: .5px 3px;
    margin-left: 3px;
}

#sdown,
#down {
    transform: rotate(180deg);
}

#content {
    width: calc(100% - 37px);
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

#arrows {
    margin-left: .2rem;
    width: 28px;
    height: 100%;
    display: inline-block;
    filter: var(--arrows);
}

#weekday,
#date {
    font-weight: 700;
}

#today {
    margin-bottom: .3em;
}

.time .btn {
    width: 32px;
    margin-top: .2em;
}

#control {
    position: relative;
    margin-bottom: 1em;
    min-height: 20em;
}

#disclaimer {
    color: #8f8f8f;
    margin-top: .75em;
    font-size: .75em;
    font-weight: 600;
}

@media (max-width: 768px) {
    #disclaimer {
        font-size: .8em;
    }
}

.btn {
    border: 1.6px solid var(--dark-txt);
    padding: 0;
    margin: 0 0 .7em;
    border-radius: 6px;
    -webkit-box-shadow: var(--half-shadow);
    box-shadow: var(--half-shadow);
}

.txt {
    padding: .1em .4em;
    font-weight: 600;
    font-size: .9em;
    margin-right: .2em;
    min-width: 4em;
    /* transition: transform .1s; */
    /* background-color: var(--back); */
}

/* .btn:hover {
    transform: scale(1.01);
} */

.txtsel {
    background-color: var(--dark-txt);
    color: var(--back)!important;
}

.btn i {
    padding: .4em;
    color: var(--dark-txt);
}

.tsel {
    background-color: var(--dark-txt);
}

.tsel i {
    color: var(--back);
}

.active {
    opacity: 60%;
}

.inactive {
    opacity: 20%;
}

#givename input {
    border: 2px solid var(--dark-txt);
    padding: .3em;
    padding-left: .5em;
    border-radius: 6px;
    -webkit-box-shadow: var(--half-shadow);
    box-shadow: var(--half-shadow);
    font-size: 1rem;
    font-weight: 600;
    width: 15em;
}

#givename .btn {
    margin: 0;
    margin-left: .4em;
}

#givename .btn:hover {
    background-color: var(--dark-txt);
}

#givename .btn:hover i {
    color: var(--back);
}

#givename {
    vertical-align: top;
    display: flex;
    align-items: center;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

input,
textarea,
select {
    -webkit-appearance: none;
}


/*.warn {
background-color: rgb(253, 235, 211);
border-radius: .7em;
margin-bottom: 1em;
padding: .5em;
-webkit-box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.2);
box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.2);
}

.warn .btn {
margin-bottom: 0;
background-color: var(--back);
}*/

.fa-exclamation-triangle {
    color: orange;
}

hr {
    margin: .5em 0;
}

#news ::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#chartbox {
    padding-top: .4em;
}

.chartcnt {
    height: 8em;
    margin-bottom: .3em;
}

.more {
    color: var(--link)!important;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.more:hover {
    color: var(--link-hover)!important;
    text-decoration: underline;
}

@media (max-width:768px) {
    .faqtext {
        margin-top: .5em;
    }
}

.statbtn {
    border-top: 3px solid var(--stat-border);
    font-size: 1.06em;
    font-weight: 600;
    margin: 0 4px;
    padding: 4px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.statbtnactive {
    border-top: 3.5px solid var(--stat-border-thick);
    padding-top: 3.5px;
    background-color: var(--stat-back);
    -webkit-box-shadow: var(--half-shadow);
    box-shadow: var(--half-shadow);
}

.statbtn:hover {
    background-color: var(--stat-back);
    -webkit-box-shadow: var(--half-shadow);
    box-shadow: var(--half-shadow);
}

.statbtn i {
    font-size: 1em;
    padding-right: 1px;
    color: var(--dark-txt);
}

#chartbox .row {
    margin: 0;
}

hr {
    border-top: 1px solid var(--hr);
}

#light {
    --back: white;
    --link: #007bff;
    --link-hover: #0056b3;
    --box: rgb(235, 235, 235);
    --light-txt: gray;
    --dark-txt: rgb(68, 68, 68);
    --txt: #212529;
    --hr: rgba(0, 0, 0, .1);
    --full-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.3);
    --half-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.15);
    --stat-back: #f2f2f2;
    --stat-border: #a8a8a8;
    --stat-border-thick: #797979;
    --arrows: none;
}

#dark {
    --back: #212529;
    --link: #007bff;
    --link-hover: #3496ff;
    --box: #343a3f;
    --light-txt: rgb(199, 199, 199);
    --dark-txt: rgb(235, 235, 235);
    --txt: white;
    --hr: rgba(255, 255, 255, 0.1);
    --full-shadow: 0 0 .4em 0 rgba(255, 255, 255, 0.2);
    --half-shadow: 0 0 .2em 0 rgba(255, 255, 255, 0.1);
    --stat-back: #212529;
    --stat-border: #757b81;
    --stat-border-thick: #a2a6ab;
    --arrows: invert(1);
}

[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
}