/* @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap"); */


/* @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap"); */

/* @font-face {
    font-family: 'SVG';
    src: url('svg.woff2') format('woff2');
    font-display: swap;
}

i {
    font-family: 'SVG'!important;
    font-weight: 900;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
} */

html,
body {
    color: var(--txt);
    background: var(--back);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    /*height: 100%;*/
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow-y: hidden;
    padding-left: calc(100vw - 100%);
}

.notrans * {
    transition: none!important;
}

main {
    max-width: 924px;
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 0 min(5vw, 25px);
    display: grid;
    gap: 0 1em;
    grid-template-rows: repeat(5, auto) 4em auto;
    grid-template-columns: minmax(180px, 1fr) minmax(180px, 1fr) 350px;
}

@media (min-width:960px) {
    main {
        width: 924px;
        margin-top: 5vh;
    }
}

.withchoice {
    grid-template-areas: "title title twitter" "head head head" "faq faq faq" "start start start" "gameover gameover gameover" "timechoice timechoice news" "choice choice news" "col1 col2 news";
}

.wochoice {
    grid-template-areas: "title title twitter" "head head head" "faq faq faq" "start start start" "gameover gameover gameover" "timechoice timechoice news" "col1 col2 news";
}

br {
    display: block;
    margin: .5em 0;
    content: " ";
    line-height: 1em;
}

.mob {
    display: none;
}

.desk {
    display: inherit;
}

.big {
    display: inherit;
}

@media (max-width: 960px) {
    .withchoice {
        grid-template-rows: auto;
        grid-template-columns: 1fr 350px;
        grid-template-areas: "title twitter" "head head" "gameover gameover" "faq faq" "start start" "timechoice news" "choice news" "col1 news" "col2 news";
    }
    .wochoice {
        grid-template-rows: auto;
        grid-template-columns: 1fr 350px;
        grid-template-areas: "title twitter" "head head" "gameover gameover" "faq faq" "start start" "timechoice news" "col1 news" "col2 news";
    }
}

@media (max-width: 750px) {
    .withchoice,
    .wochoice,
    main {
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        font-size: min(5vw, 2.2em);
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: min(10vw, 2.2em)!important;
    }
    .mob {
        display: inherit;
    }
    .desk {
        display: none;
    }
    .withchoice,
    .wochoice,
    main {
        max-width: 450px;
        grid-template-rows: auto;
        grid-template-columns: minmax(120px, 1fr);
        grid-template-areas: "title" "twitter" "start" "news" "timechoice" "choice" "col1" "col2" "faq" "gameover";
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#start a {
    max-width: 10em;
    margin: .75em 0 -.25em;
    font-weight: 700;
}

.hide {
    display: none!important;
    /* opacity: 0; */
}

#title {
    grid-area: title;
}

#twitter {
    grid-area: twitter;
}


/* 
#title,
#twitter {
    padding-top: .5em;
} */

#head {
    margin-top: .15em;
    grid-area: head;
}

#start {
    grid-area: start;
}

#timechoice {
    grid-area: timechoice;
}

#choice {
    grid-area: choice;
}

#col1 {
    grid-area: col1;
}

#col2 {
    grid-area: col2;
}

#news {
    grid-area: news;
    min-width: 0;
}

#faq {
    grid-area: faq;
    margin-top: .2em;
}

h1 {
    color: var(--bw);
    font-weight: 900;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.1;
    font-size: min(5vw, 2.2em);
    margin: 0 0 5px;
}

b {
    display: block;
    font-weight: 800;
    font-size: 1.05em;
    margin: 1em 0 .4em;
}

#toggles {
    -webkit-transition: opacity .5s, -webkit-filter .5s;
    transition: opacity .5s, -webkit-filter .5s;
    transition: opacity .5s, filter .5s;
    transition: opacity .5s, filter .5s, -webkit-filter .5s;
    margin-top: -.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

#toggles .flex {
    flex: 1 1 230px;
    align-self: auto;
}

#toggles .flex:nth-child(1) {
    padding-right: .4em;
}

#toggles .flex:nth-child(2) {
    padding-left: .4em;
}

.freeze {
    opacity: .2;
    transition: opacity .5s;
    /* -webkit-filter: blur(.75px);
    filter: blur(.75px); */
}

#choice {
    animation: swipechoice .4s;
    margin: 1em 0 -.25em 0;
    overflow: none;
}

#choice p {
    margin: 0 0 .5em 0;
}


/* #popup .btn {
    width: fit-content;
    margin: 0 .5em 0 0;
    display: inline-block;
    background: var(--box);
    border-color: var(--border); */


/* margin-bottom: 0;
} */


/* 
#popup .btn:hover {
    transform: none;

} */

#twitter {
    display: flex;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    text-align: right;
    font-size: 1.2em;
    color: var(--light-txt);
    opacity: .8;
    font-weight: 700;
}

#twitter i {
    margin: 0 .35em;
}

#sun, #moon {
    margin-left: 0!important;
}

/* #faqbtn,
#colormode {
    padding-right: .65em;
} */

#twitter a {
    color: var(--light-txt);
}

#twitter a:hover {
    text-decoration: none;
    color: var(--txt);
    cursor: pointer;
}

#head p {
    margin-top: -.15em;
}

p {
    font-size: 1em;
    margin-bottom: .5em;
}

.container {
    width: 100%;
    height: 100%;
}

@keyframes swipe {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 8em;
        opacity: 100%;
    }
}

@keyframes swipechoice {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 10em;
        opacity: 100%;
    }
}

a {
    font-weight: 700;
    text-decoration: none;
    background: transparent;
}

.statbtns {
    display: grid;
    gap: 0 10px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

#statbtns i {
    font-size:.9em;
    margin: 0 .2em;
}

/* #statbtns svg {
    vertical-align: middle;
    display: inline-block;
    filter: var(--svg-gray);
    margin-top: -2px;
    transform: scaleY(-1);
    width: 19px;
    height: 19px;
} */

/* .choice {
    -webkit-animation: swipe .4s;
    animation: swipe .4s;
}

.choice a {
    margin-right: .45em;
} */

#pinned {
    /* padding-right: .25em; */
    -webkit-animation: none;
    animation: none;
    margin: 1em 0 .6em;
}

.box {
    border: 2px solid var(--border);
    line-height: 1.1;
    background: var(--box);
    margin-top: .4em;
    margin-bottom: .8em;
    padding: .6em;
    overflow: none;
    /* width: 100%; */
    border-radius: .6em;
    text-align: left;
    max-height: 50em;
}

.box:not(#chartbox):not(#pinned):not(#firstnews) {
    -webkit-animation-name: swipe;
    animation-name: swipe;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

#content img,
.box .logo {
    float: left;
    margin-right: .5em;
    border-radius: 30%;
}

#shadow {
    width: 115%;
    left: -5px;
    height: 6em;
    position: absolute;
    bottom: -5px;
    z-index: 10;
    background: linear-gradient(0deg, var(--back) 50%, rgba(0, 0, 0, 0) 100%);
}

@media (min-width: 600px) {
    .faqbox {
        margin: 0 0 1em 1em;
        float: right;
        font-size: 16px;
    }
    #scroll {
        position: relative;
        overflow: scroll;
    }
    /* #scroll {
        height: 77vh;
        min-height: 39em;
    } */
    /* #scroll {
        height: 56vh;
        min-height: 27em;
    } */
}

#stats .box {
    margin-bottom: .4em;
}

#faq p {
    line-height: 1.2;
    margin-bottom: .5em;
}

.faqbox {
    padding: .75em 1em;
    animation: none!important;
    transition: none!important;
}

.faqbox {
    font-weight: 700;
}

.faqbox b {
    color: var(--light-txt);
    margin: 0;
    display: inline;
}

.faqbox a {
    text-decoration: none;
}

#firstnews {
    margin-bottom: 75px;
}

#news {
    height: 100%;
    padding: 0;
    position: relative;
}

.app {
    display: inline;
    font-size: .9em;
    margin: 1px 0 0 0;
    font-weight: 600;
}

.newstitle {
    display: block;
    margin-top: .3em;
    margin-bottom: 0;
}


/* #totop {
    position: relative;
    top: -2px;
    font-size: .85em;
    font-family: monospace;
    background: var(--txt);
    color: var(--back);
    border-radius: 20%;
    padding: 0 5px 1px;
    margin-left: 6px;
} */

#sdown,
#down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#content {
    /* width: calc(100% - 42px); */
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

#arrows {
    margin-left: 0;
    width: 28px;
    height: 100%;
    display: inline-block;
    -webkit-filter: var(--arrows);
    filter: var(--arrows);
}

#weekday,
#date {
    font-weight: 700;
}

#today {
    margin: .3em 0;
}

#btn-cont {
    display: flex;
    flex-direction: row;
}


/* #givename .btn, */

#timechoice .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em !important;
    width: 34px;
    height: 34px;
    margin-top: .2em;
    margin-right: .5em;
    background: var(--back);
}

#timechoice i {
    color: var(--light-txt);
}

.tsel {
    background: var(--light-txt)!important;
}

.tsel i {
    color: var(--back)!important;
}

#disclaimer {
    color: var(--txt);
    opacity: .75;
    margin: -3.5em auto 0;
    max-width: 928px;
    padding: 0 min(5vw, 25px);
    font-size: .8em;
    /* font-weight: 600; */
}

.btn {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    font-size: 1em !important;
    border: 2px solid var(--light-txt);
    padding: 0;
    margin: 0 0 .6em;
    border-radius: 6px;
    background: var(--back);
    opacity: 1;
    transition: transform .05s ease, opacity .5s ease, color .1s ease, background .1s ease;
}

*,
*:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    outline: none;
}

button,
input,
optgroup,
select,
div,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.txt {
    color: var(--txt);
    border-color: var(--btn-border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center;
    text-align: center; */
    align-items: center;
    line-height: 1;
    /* height: 2.3em; */
    padding: .5em .8em;
    /* font-weight: 400; */
    font-size: .9em;
    /* margin-right: .2em; */
    min-width: 4em;
    /* transform: scale(1); */
    /* width: 100%; */
    background: var(--back);
    transition: transform .05s ease, opacity .5s ease, color .1s ease, background .1s ease;
}

.txt i {
    margin-right: .8em;
    width: 20px;
    /* font-size: .95em; */
}

@media (min-width: 960px) {
    .txt:hover:not(.freeze div a):not(.paused) {
        color: var(--txt);
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
}

#start p {
    max-width: 600px;
}


/* 
* {
    color
} */


/* #curtain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--back);
    z-index: 9;
    opacity: 0;
    transition: opacity .25s ease;
} */


/* #popup {
    box-sizing: border-box;
    position: fixed;
    top: min(25em, 50%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(450px, calc(100vw - min(10vw, 50px)));
    margin: 0 auto;
    min-height: 5em;
    max-height: 100%;
    background: var(--box);
    border: 2px solid var(--border);
    line-height: 1.1;
    padding: .7em .8em;
    border-radius: .6em;
    z-index: 10;
    opacity: 0;
    transition: opacity .25s ease;
} */

.freeze div a {
    cursor: default !important;
}


/* #start a:hover, */

.txtsel {
    border-color: var(--light-txt);
    background: var(--light-txt);
    color: var(--back) !important;
    transform: scale(1);
}

.txtsel i {
    color: var(--back) !important;
}

/* #start a:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.02);
} */


/* .txtsel::after {
    content: '✓';
    position: absolute;
    right: .5em;
    padding: .2em .3em;
    background: var(--back);
    color: var(--txt);
    border-radius: 25%;
    top: 50%;
    transform: translateY(-50%);
} */

.btn i {
    /* padding: .4em; */
    color: var(--light-txt);
}

.active {
    opacity: 60%;
}

.inactive {
    opacity: 20%;
}


/* 
#givename input {
    border: 2px solid var(--light-txt);
    padding: .3em;
    padding-left: .5em;
    border-radius: 6px;
    width: 15em;
    background: var(--input);
    color: var(--txt);
    height: 1.2em;
} */

::-webkit-input-placeholder {
    font-size: 1em;
    font-weight: 600;
    color: var(--light-txt);
}

:-ms-input-placeholder {
    font-size: 1em;
    font-weight: 600;
    color: var(--light-txt);
}

::-ms-input-placeholder {
    font-size: 1em;
    font-weight: 600;
    color: var(--light-txt);
}

::placeholder {
    font-size: 1em;
    font-weight: 600;
    color: var(--light-txt);
}

.flip {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}


/* #givename .btn {
    margin: 0;
    margin-left: .4em;
    width: 30px;


}

#givename .btn:hover {
    background: var(--txt);
}

#givename .btn:hover i {
    color: var(--back);
}  
#givename {
    vertical-align: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

input,
textarea,
select {
    -webkit-appearance: none;
}


/*.warn {
background: rgb(253, 235, 211);
border-radius: .7em;
margin-bottom: 1em;
padding: .5em;
-webkit-box-shadow: 0 0 .5em 0 rgba(0, 0, 0, .2);
box-shadow: 0 0 .5em 0 rgba(0, 0, 0, .2);
}

.warn .btn {
margin-bottom: 0;
background: var(--back);
}*/

hr {
    border: 0;
    margin: .25em 0 .75em 0;
}

#news ::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#scroll {
    scrollbar-width: none;
    height: 27.5em;
    /* cursor: grab; */
}

#chartbox {
    padding: .4em;
}

.chartcnt {
    height: 8em;
    margin-bottom: .3em;
}

/* .chartcnt canvas {
    width:100%;
} */

#faq a:not(.faqbtn),
.more {
    color: var(--link) !important;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

#faq a:hover:not(.faqbtn),
.more:hover {
    color: var(--link-hover) !important;
    text-decoration: underline;
}

.statbtn {
    border-top: 3px solid var(--border);
    font-size: 1.06em;
    font-weight: 600;
    padding: 4px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}

.statbtnactive {
    border-top: 3.5px solid var(--border-thick);
    padding-top: 3.5px;
    background: var(--stat-back);
}


/* .statbtnactive.lev0 {
    border-top-color: var(--border-thick);
} */


/* .statbtnactive.lev1 {
    border-top-color: var(--lev1);
}
.statbtnactive.lev2 {
    border-top-color: var(--lev2);
}
.statbtnactive.lev3 {
    border-top-color: var(--lev3);
}
.statbtnactive.lev4 {
    border-top-color: var(--lev4);
}
.statbtnactive.lev5 {
    border-top-color: var(--lev5);
}
.statbtnactive.lev6 {
    border-top-color: var(--lev6);
}

html {
    --lev1: hsl(50, 100%, 72%);
    --lev2: hsl(40, 100%, 72%);
    --lev3: hsl(30, 100%, 72%);
    --lev4: hsl(20, 100%, 72%);
    --lev5: hsl(10, 100%, 72%);
    --lev6: hsl(0, 100%, 72%);
} */

.statbtn:hover {
    /* transform: scale(1.01); */
    background: var(--stat-back);
}

.statbtn i {
    font-size: 1em;
    padding-right: 1px;
    color: var(--light-txt);
}

#chartbox .row {
    margin: 0;
}

hr {
    border-top: 1px solid var(--hr);
}

.tut {
    border-color: var(--tut-border);
    background: var(--tut-box);
    /* box-shadow: 0 0 .5em 0 var(--tut-box); */
}

.tut p {
    margin: 0;
    display: inline-block;
    width: calc(100% - 15px);
}

.tut .fa-times {
    float: right;
    font-size: .9em;
    margin-top: -10px;
    margin-right: -10px;
    padding: 5px 7px;
    color: var(--tut-x);
}

.tut .fa-times:hover {
    cursor: pointer;
    opacity: .8;
}

.tut #x {
    font-size: 1.4em;
    font-weight: 900;
    color: var(--tut-x);
    position: absolute;
    margin: -0.3em 0 0 0;
    cursor: pointer;
}

.remtut {
    -webkit-animation: hide 0.12s linear forwards !important;
    animation: hide 0.12s linear forwards !important;
    opacity: 0;
    margin: 0;
    padding: 0;
}

.remtut p {
    display: none;
}

.remtut i {
    -webkit-animation: hidex 0.12s ease-out forwards !important;
    animation: hidex 0.12s ease-out forwards !important;
}

@keyframes hide {
    from {
        color: var(--dark-txt);
        max-height: 8em;
        opacity: 1;
        margin-top: .4em;
        margin-bottom: .8em;
        border-width: 2px;
        padding: .6em;
    }
    to {
        color: var(--tut-box);
        border-width: 0;
        max-height: 0;
        opacity: 0;
        margin: 0;
        padding: 0 .6em;
        display: none;
    }
}

@keyframes hidex {
    from {
        font-size: initial;
        padding: 10px;
    }
    to {
        font-size: 0;
        padding: 0;
    }
}


/* 
#tutnudge {
    top: 0;
    left: 0;
    background: var(--tut-border);
    width: 4em;
    height: 4em;
    border-radius: .6em;
    position: absolute;
    z-index: -1;
    animation: tutnudge 1s ease;
    filter: blur(5px);
    opacity: 0;
}

*/


/* 
@keyframes tutnudge {
   from {
       color: var(--txt);
   } 
   to {
       color: var(--tut-box);
   }
}  */

.faqbtn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 1em;
}

strong {
    font-weight: 700;
}

.paused {
    opacity: .2;
    cursor: default;
    transition: opacity .5s;
}

.remchoice {
    animation: hidechoice .4s!important;
}

@keyframes hidechoice {
    from {
        max-height: 10em;
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    to {
        max-height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        /* display: none; */
    }
}

@keyframes hidex {
    from {
        font-size: initial;
        padding: 10px;
    }
    to {
        font-size: 0;
        padding: 0;
    }
}

.nudge::before {
    content: '';
    background: var(--nudge);
    position: absolute;
    width: 1.7em;
    height: 1.7em;
    margin-left: -.01em;
    margin-top: .05em;
    z-index: -1;
    border-radius: 50%;
    animation: nudge 1.5s ease-out 2s infinite;
    opacity: 0;
    filter: blur(3px);
}

.txt.nudge::before {
    margin-left: 2em;
    margin-top: 0;
    height: 2em;
    width: 2em;
}

.txt.nudge:hover::before {
    animation: none;
}

@keyframes nudge {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#gameover {
    -webkit-animation: fadein .5s ease-in;
    animation: fadein .5s ease-in;
    margin-top: 0;
    grid-area: gameover;
}

#gameover b {
    margin: .4em 0;
    font-size: 1.2em;
}

.fad.fa-hammer {
    position: absolute;
    margin-top: 80px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15em;
    color: var(--txt);
    opacity: .1;
}

.wip {
    position: absolute;
    margin-top: 80px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(80vw, 20em);
}

.wip h2 {
    font-weight: 900;
    text-align: center;
    margin: .2em 0 .2em 0;
}

.wip a {
    color: var(--link);
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 960px) {
    .txt {
        padding-top: .4em;
        padding-bottom: .4em;
    }
    #col1 {
        margin-top: 1em;
    }
    #col2 {
        margin-bottom: 1em;
    }
    #btns-base b:first-child {
        margin-top: 0!important;
    }
    b {
        margin-top: .7em!important;
    }
    #choice {
        margin: .25em 0 0 0;
    }
    #disclaimer {
        margin: 1em auto 2em;
    }
    /* #givename {
        margin-bottom: 1em;
    } */
}

@media (max-width: 600px) {
    /* .fal {
        font-weight: 400!important;
    } */
    .txt i {
        margin: 1px .8em -1px 0;
    }
    .tut {
        margin: 1em 0 .6em;
    }
    .tut p {
        width: calc(100% - 20px);
    }
    .tut i {
        font-size: 1.2em;
        margin: -10px;
        padding: 8px 10px;
    }
    .faqbox {
        max-width: 100%;
        /* width: 100%; */
    }
    .btn {
        margin-bottom: .45em;
    }
    html,
    body {
        font-size: 18px;
    }
    #col1 {
        margin-top: .5em;
    }
    #toggles {
        margin-top: 0;
    }
    #choice {
        margin: -.25em 0 0 0;
    }
    #choice p {
        margin: .5em 0;
    }
    .statbtns {
        gap: 0 5px;
    }
    #twitter {
        margin: 0;
        justify-content: left;
        margin-bottom: .6em;
        text-align: left;
        font-size: 1.2em;
        color: var(--light-txt);
        font-weight: 700;
    }
    /* .chartcnt {
        height: min(8em, 25vh);
    } */
    .faqbtn {
        margin-bottom: 1em;
    }
    #head {
        display: none;
    }
    #scroll {
        max-height: 26em;
        height: auto;
    }
    #start a {
        margin-bottom: 1em;
        padding: .6em max(1vw, 17.5px);
        /* max-width: 50%; */
    }
    #start p {
        line-height: 1.2;
    }
    #disclaimer {
        margin: 0 auto 2em;
    }
}

@media (max-width: 370px) {
    html,
    body {
        font-size: 16px;
    }
    .big {
        display: none;
    }
    /* #totop {
        display: none;
    } */
    .statbtn {
        font-size: 15px;
    }
    html,
    body {
        font-size: 16px;
    }
}


/* @media (min-width: 960px) {
    body {
        display: flex;
        align-items: center;
        height: 100vh;
    }
} */

#light {
    --bw: black;
    --back: white;
    /* --svg-dark: invert(100%); */
    --link: #1f5085;
    --link-hover: #133c68;
    --box: #dedede;
    --txt: #212529;
    --light-txt: #3d3d3d;
    /* --svg-gray: invert(24%) hue-rotate(149deg) brightness(95%) contrast(97%); */
    --btn-border: #444c55;
    --stat-back: #f6f6f6;
    --hr: #00000028;
    --border: #8d8d8d;
    --border-thick: #797979;
    --arrows: none;
    --nudge: #c5c5c5;
    --input: white;
    --tut-box: #f0dcc1;
    --tut-border: #aa9c8b;
    --tut-x: #796853;
}

#dark {
    --bw: white;
    --back: #212529;
    /* --svg-dark: invert(11%) sepia(9%) saturate(715%) hue-rotate(169deg) brightness(101%) contrast(93%); */
    --link: #85c0ff;
    --link-hover: #b4d8ff;
    --box: #343a3f;
    --light-txt: #ececec;
    /* --svg-gray: invert(100%) hue-rotate(50deg) brightness(112%) contrast(85%); */
    --txt: white;
    --btn-border: #ececec;
    --hr: #ffffff1a;
    --stat-back: #212529;
    --border: hsl(210, 5%, 45%);
    --border-thick: #a2a6ab;
    --arrows: invert(1);
    --nudge: #afb5bb;
    --input: #343a3f;
    --tut-box: #403b30;
    --tut-border: #796853;
    --tut-x: #aa9c8b;
}

[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
}